body {
    background-image: url('266471.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
}

.list-view {
    display: flex inline-block;
    columns: 4;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
}

.card-img-top
{
    width: 100%;
    
}

.card {
    margin-bottom: 30px;
    padding-left: 10px;
    padding-top: 10px;
    height: 500px;
}

.card img {
    max-width: 100%;

}

.name {
    margin-top: 10px;
    padding: 2px 16px;
}